@import "@material/card/mdc-card";
@import url('https://fonts.googleapis.com/css?family=Sniglet|Nunito');

::selection {
  background: #FFBD33;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background: url(images/bluebg.png);
}
/* Sign In */
.login-box{
  width: 300px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 10px;
}

.login-box h1{
  font-family: 'Sniglet', sans-serif;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 6px solid #FFBD33;
  margin-bottom: 15px;
}

.fbbutton {
  background-color: #3b5998;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;
  font-family: 'Nunito', sans-serif;
}

/* Create Profile */
.create-profile-box{
  font-family: 'Sniglet', sans-serif;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.create-profile-box h1{
  font-size: 40px;
  border-bottom: 6px solid #FFBD33;
  margin-bottom: 20px;
  text-align: center;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #FFBD33;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.textbox textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}
::placeholder{
  opacity: 1;
}
.create-profile-btn{
  width: 100%;
  background: none;
  border: 2px solid #FFBD33;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  font-family: 'Sniglet', sans-serif;
}
label.upload-photo{
  width: 100%;
  background: none;
  border: 1px solid #FFBD33;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 12px 0;
}

input[type="file"]{
  position: absolute; left: -99999rem
}

/*
#file {
  	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
*/

html.waiting * {
    cursor: progress;
}
/* Hides Choose File and image selection */
/* input#file{
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
} */

h1 {
   font-size: calc(25px + 1vw);
}

h2 {
  font-size: calc(20px + 1vw);
}

h3 {
  font-size: calc(15px + 1vw);
}
h4 {
  font-size: calc(10px + 1vw);
}

h1, h2, h3, h4, h5 {
  font-family: 'Sniglet', sans-serif;
  font-weight: bold;
}

#wrapper {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px auto;
  border-radius: 25px;
  text-align: center;
  max-width: 800px;
  padding-top: 10px;
}

#menubutton {
  display: none;
}

a {
  font-weight: bold;
  color: #24A9E0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: red;
}

#content {
  margin: auto;
}

footer {
  padding: 20px;
  font-family: 'Sniglet', sans-serif;
  font-weight: bold;
}

#rightbutton {
  float: right;
  margin-top: 10%;
  margin-right: 5%;
  font-size: 60px;
}

#leftbutton {
  float: left;
  margin-top: 10%;
  margin-left: 5%;
  font-size: 60px;
}

#leftbutton:hover, #rightbutton:hover{
  color: #B5B5B5;
  cursor: pointer;
}

textarea {
  border: 0px;
  width: 87%;
}

/*
  #profileview - the card on BOTH the home page AND profile page
  .profilecard - the card on the profile page ONLY
  #img - id for the image on the profile page ONLY
  .card - the card on the home page ONLY
  #imageBox - the image on the home page ONLY
*/

.card, .profilecard {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  width: 40vmin;
  margin: auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.card #imageBox, .profilecard #img {
  width: 40vmin;
}

.card h2, .profilecard h2 {
  word-wrap: break-word;
  font-family: 'Sniglet', sans-serif;
  margin: 10px 10px 0px 10px;
}

.card h3, .profilecard h3 {
  word-wrap: break-word;
  margin-bottom: 20px;
  margin: 0px 0px 10px 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.card p, .profilecard p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 15px 0px 15px 0px;
  word-wrap: break-word;
}

.title {
  color: grey;
  font-size: calc(10px + 1vw);
  font-weight: bold;
}

.subtitle {
  color: lightgray;
  font-size: calc(7px + 1vw);
  font-weight: bold;
}

#profileview button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

#profileview a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

#profileview a:hover{
    color:red;
}

#profileview button:hover, a:hover {
  opacity: 0.7;
}

.match-btn{
  background-color: #eee;
  border: none;
  color: #6495ed;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  outline: none;
  display: inline-block;
  font-size: 15px;
}
.active, .match-btn:hover {
  background-color: #ccc;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

nav {
  width: auto;
  font-family: 'Sniglet', sans-serif;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  height: 35px;
}

nav li {
  display: inline;
  font-size: 20px;
  cursor: pointer;
}

nav li a {
  text-decoration: none;
}


@media screen and (max-width: 830px) {
  #menubutton {
    display: block;
    border: none;
    border-radius: 10px;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #24A9E0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
  }

  nav ul {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 1px;
  }

  nav li {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    border-width: 1px;
    border-style: dotted;
    border-color: rgba(0,0,0,0.2);
    border-radius: 10px;
  }

  nav li:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

@media screen and (min-width: 831px) {
  nav .panel {
    display: inline;
    margin: 0;
    padding: 0;
  }

  nav li {
    padding: 10px;
    border-radius: 5px;
  }
}

.search {
  width: 100%;
  position: relative;
  white-space: nowrap;
  display: flex;
}

.searchTerm {
  border: none;
  width: 60%;
  height: 50px;
  outline: none;
  color: #9DD2EE;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: calc(12px + 0.5vw);
}

.searchOptions {
  border: none;
  float: right;
  position: inline-block;
  width: 30%;
  height: 50px;
  color: #9DD2EE;
  margin: 0;
  padding-right: calc(5px + .5vw);
  font-family: 'Nunito', sans-serif;
  font-size: calc(12px + .5vw);
  direction: rtl;
}

.searchTerm:focus, .searchOptions:focus {
  color: #9DD2EE;
}

.searchButton {
  width: 10%;
  float: right;
  border: 1px solid #24A9E0;
  background: #24A9E0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.searchBar {
  margin: auto;
  width: 90%;
  border: 3px solid #24A9E0;
  border-radius: 5px;
  clear: both;
}

.searchBar:before,
.searchBar:after {
  content: "";
  display: table;
  clear: both;
}

.searchBar:after {
    clear: both;
}

#results {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #9DD2EE;
}

.resultRow:not(:first-child) {
  border-top: 1px solid #F1F1EF;
}

.resultRow td {
  padding: 10px; 
  font-size: calc(12px + .5vw);
}

.resultUserImage:first-child {
  width: 20%;
}

.resultUserImage img {
  object-fit: cover;
  width: 40vmin;
  height: 40vmin;
}


